/******************************
  BROWSER OVERRIDE & GLOBAL STYLES
******************************/

/*GLOBAL VARIABLES*/
:root{
  --theme-color: #4CAF50;
  --theme-light: #f8f8f8;
  --theme-lighter: #66BB6A;
  --text-color-dark: rgba(0,0,0,0.5);
  --placeholder-bg: rgba(0,0,0,0.07);
}
/*END GLOBAL VARIABLES*/

html, body{
  margin: 0;
  background: #f9f9f9;
  color: rgba(0,0,0,0.5);
  font-family: georgia;
}
body.locked{
  overflow: hidden;
}
.no-margin{
  margin: 0;
}
.no-margin-top{
  margin-bottom: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.circle{
  border-radius: 50%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
#shadow{
  position: fixed;
  top: 0;left: 0;
  bottom: 0; right: 0;
  background: rgba(0,0,0, 0.3);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  font-size: 50px;
  color: #eee;

  -webkit-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
#shadow > .zmdi, #shadow > span{
  font-size: 150px;
  display: none;
}
#shadow.loading > .zmdi, #shadow.loading > span{
  display: block;
}
#shadow.show{
  opacity: 1;
  pointer-events: auto;
}
@media all and (max-width: 992px){
  #shadow{
    z-index: 99;
  }
}
a{
  text-decoration: none;
  color: #4CAF50;
}
a:hover{
  color: #7E57E2;
}
hr.divider{
  border: none;
  border-bottom: 1px solid #e2e2e2;
}
.shadow-2dp{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow-4dp{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.layout-flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.layout-flex.as-column{
  flex-direction: column;
}
.layout-flex.center-center{
  align-items: center;
  justify-content: center;
}
.layout-flex.end-end{
  align-items: flex-end;
  justify-content: flex-end;
}
.layout-flex.v-end{
  align-items: flex-end;
}
.layout-flex.wrap{
  flex-wrap: wrap;
}
.flex{
  flex:1;
}
/******************************
  END BROWSER OVERRIDE & GLOBAL STYLES
******************************/

/******************************
      MAIN LAYOUT STYLES
******************************/
header{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #4CAF50;
  color: #fff;
  z-index: 9;
  display: flex;
  font-family: verdana;
  padding: 0 25px;
}
@media all and (max-width: 992px) {
  header{
    padding: 0;
  }
}
header > .logo{
  color: #fff;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex:1;
}
header > .logo a{
  color: #fff !important;
}
header > .header-btn{
  display: none;
  line-height: 45px;
}
nav{
  position: fixed;
  top: 0;left: 0;
  padding: 15px 0;
  height: 40px;
  line-height: 40px;
  top:80px;
  width: 100%;
  background: #f8f8f8;
  z-index: 999;
  display: flex;
}
nav > ul{
  margin:auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
}
nav > ul li{
  padding:0 5px;
  border-left: 1px solid rgba(0,0,0,0.1);
}
nav > ul li:first-child{
  border-left: none;
}
nav > ul a{
  color: rgba(0,0,0,0.5);
  padding: 12px 60px;
  text-align: center;
}
nav > ul li a:hover{
  color: rgba(0,0,0,0.5) !important;
  background: #d9d9d9 !important;
}
nav > ul li.active a, nav > ul li.active a:hover{
  color: #4CAF50 !important;
}
nav > ul li a .zmdi{
    /*font-size: 25px;*/
    margin-right: 15px;
  }
nav > .cover-photo{
  display: none;
  background: url(../images/bcs.png); background-size: cover;
}
@media all and (max-width: 990px) {
  header{
    height: 60px;
    line-height: 60px;
  }
  header > .logo{
    font-size: 20px;
  }
  header > .header-btn{
    display: block;
  }
  header > .header-btn i{
    font-size: 22px;
    color:white !important;
  }
  nav{
    padding: 0;
    top:0;
    width: 250px;
    height: calc(100% + 5px);
    display: block;

    -webkit-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  nav.open{
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  nav > .cover-photo{
    display: block;
  }
  nav > ul{
    position: relative;
    top:3px;
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 5px;
  }
  nav > ul li{
    padding: 3px 5px;
    margin: 1px 0;
  }
  nav > ul li a{
    text-align: left;
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0;
    padding-left: 50px;
    /*border-bottom: 1px dotted red;*/
    font-size: 12px;
  }
  nav > ul li.active a{
    background: rgba(0,0,0,0.05);
  }
  nav > ul li a .zmdi{
    font-size: 17px;
    margin-right: 10px;
    position: absolute;
    left: 10px;top: 15px;
  }
  #main{
    padding-top: 60px !important;
  }
  #content h1{
    margin-bottom: 0;
  }
}
#main{
  position: relative;
  top:0;left: 0;
  padding-top: 150px;
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
}
aside{
  height: 100%;
  width: 350px;
  margin-left: 50px;

  -webkit-transition: 2s transform 0.26s ease-out;
  -o-transition: 2s transform 0.26s ease-out;
  transition: 2s transform 0.26s ease-out;
}
@media all and (max-width: 992px) {
  aside{
      display: none;

      -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}
aside > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
aside > ul li{
  padding: 0 10px;
  margin-bottom: 5px; 
}
aside > ul li a{
  position: relative;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 8px;
  color: rgba(0,0,0,0.5);
}
aside > ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
aside > ul li.active a, aside > ul li.active a:hover{
  color: #4CAF50; /*retain active color on hover*/
}
aside > ul li a:hover{
  color: rgba(0,0,0,0.5); /*override default hover color for a tags*/
}
aside > ul li a:hover::after, aside > ul li.active a::after{
  width: 100%;
  opacity: 1;
  border-radius: 0;
  background: rgba(0,0,0,0.05);
}
#content{
  min-height: calc(100vh - 180px);
  /*width: 100%;*/
  margin:auto;
  flex:1;
}
@media all and (max-width: 992px) {
  #content{
    min-height: calc(100vh - 150px);
  }
}
section{
  position: relative;
  left: 7.5%;
  width: 85%;
  min-height: 200px;
  margin-bottom: 20px;
}
section.full{
  position: relative;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px 50px;
}
section h1{
  font-size: 35px
}
section > p{
  padding: 0 60px; font-size: 23px
}
@media all and (max-width: 992px) {
  section{
    left: 0;
    width: 100%;
  }
  section h1{
    font-size: 25px !important
  }
  section > p{
    padding: 0 10px !important; font-size: 18px !important;
  }
}
/*******************
  END MAIN LAYOUT STYLES
********************/

/*******************
    COMPONENTS
********************/
.placeholder-bg{
  background: var(--placeholder-bg);
  text-align: center;
}
.placeholder-bg:after{
  /*content: "200 x 200";*/
  color: rgba(0,0,0,0.2);
}

.hero{
  position: relative;
  height: 350px;
  width: 100%;
  line-height: 290px;
  font-size: 100px;
}
@media all and (max-width: 992px) {
  .hero{
    left: 0;
    width: 100%;
    height: 250px;
  }
}
/*BUTTON*/
.btn{
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 3px 15px;
  margin: 0 5px;
  border: none;
  min-width: 120px;
  text-align: center;
  font-size: 18px;
  font-family: verdana;
  background: #4CAF50;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.26);
}
.btn:active, .btn:focus, .btn:hover{
  outline-width: 0;
  color: white;
}
.btn:hover{
  background: #66BB6A;
}
.btn-flat{
  box-shadow: none;
  background: transparent;
  min-width: 10px;
  margin: 0 1px;
  color: rgba(0,0,0,0.5);
}
.btn-flat:hover{
  background: transparent;
  color: #aaa;
}
footer{
  margin-top: 90px;
  background: #f8f8f8;
  /*min-height: 200px;*/
  width: 100%;
  position: relative;
  top: 0;
}
footer > .copyright{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 80px;
  color: #fff;
  background: #66BB6A;
}

/*LISTS*/
.list-group{
  padding: 15px;
  padding-top: 5px;
}
.list-group > .title{
  font-size: 24px; margin: 0;
  /*margin-top: 15px;*/
}
.list-group > .list{
  margin: 0 15px;
  margin-top: 30px;
}
.list .title{
  font-size: 20px; font-weight: 300; margin-bottom: 0;
}
.list-item{
  margin: 15px 0;
}
.list-item.has-avatar{
  position: relative;
  padding-left: 70px;
  min-height: 60px;
}
.list-item .avatar{
  position: absolute;
  left:0;top: 0;
  height: 60px;width: 60px;
  background: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}
.avatar > span{
  font-size: 20px;
  color: #888;
}
.avatar > span:last-child{
  margin-top: 2px;
  font-size: 16px;
  color: #999;
}
.list-item > h3{
  font-size: 18px;
  margin: 0;
  margin-bottom: 3px;
}
.list-item > h3 a{
  color: rgba(0,0,0,0.5);
}
.list-item > p{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
/*LIST*/

/*CARDS*/
.card{
  background: white;
  box-shadow: 0 0 1px #777;
  width: 100%;
}
.card > img{
  background: #aaa;
  width: inherit;
  height: 150px;
  overflow: hidden;
}
@media all and (max-width: 992px){
  .card > img{
    height: 250px;
  }
}
.card > .card-content{
  margin-top: -5px;
  padding:15px 10px;
}
.card > .card-content .caption{
  position: relative;
  height: 45px;
  width: 50%;
  overflow: hidden;
}
.card > .card-content .caption h3, .card > .card-content .caption p{
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-height: 50px;
  margin-top: 3px;
}
.card > .card-content .caption ~ .layout-flex{
  width: 40px;
}
/*END CARDS

/*GRID SYSTEM*/
.row{
  margin-top: 10px;
  width: 100%;
}
.col{
  display: inline-block;
  margin-left: 1px;
  padding: 3px;
  overflow: hidden;
}
@media all and (max-width: 992px){
  .col{
    padding: 15px;
    display: block;
    width: calc(100% - 30px) !important;
  }
}
.col.col-1{
  width: calc(8.333% - 10px);
}
.col.col-2{
  width: calc(16.667% - 10px);
}
.col.col-3{
  width: calc(25% - 10px);
}
.col.col-4{
  width: calc(33.333% - 10px);
}
.col.col-6{
  width: calc(50% - 10px);
}
.col.col-7{
  width: calc(58.333% - 10px);
}
.col.col-8{
  width: calc(66.667% - 10px);
}
.col.col-9{
  width: calc(75% - 10px);
}
.col.col-10{
  width: calc(83.333% - 10px);
}
.col.col-11{
  width: calc(91.667% - 10px);
}
.col.col-12{
  width: calc(100% - 10px);
}
/*END GRID SYSTEM*/

/*******************
   END COMPONENTS
********************/

/*******************
  RESPONSIVE
*******************/
@media all and (max-width: 992px){
  .center-text-on-less-lg{
    text-align: center;
  }
  .show-on-lg-only{
    display: none;
  }
  .full-width-on-sm{
    width: 100vw;
  }
}

/*******************
  END RESPONSIVE
*******************/