/******************************
  BROWSER OVERRIDE & GLOBAL STYLES
******************************/

/*GLOBAL VARIABLES*/
:root{
  --theme-color: #4CAF50;
  --theme-light: #f8f8f8;
  --theme-lighter: #66BB6A;
  --text-color-dark: rgba(0,0,0,0.5);
  --placeholder-bg: rgba(0,0,0,0.07);
}
/*END GLOBAL VARIABLES*/

html, body{
  margin: 0;
  background: #f9f9f9;
  color: rgba(0,0,0,0.5);
  font-family: georgia;
}
body.locked{
  overflow: hidden;
}
.no-margin{
  margin: 0;
}
.no-margin-top{
  margin-bottom: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.circle{
  border-radius: 50%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
#shadow{
  position: fixed;
  top: 0;left: 0;
  bottom: 0; right: 0;
  background: rgba(0,0,0, 0.3);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  font-size: 50px;
  color: #eee;

  -webkit-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
#shadow.darkened{
  background: rgba(0,0,0,0.9);
}
#shadow > .zmdi, #shadow > span{
  font-size: 150px;
  display: none;
}
#shadow.loading > .zmdi, #shadow.loading > span{
  display: block;
}
.shadow-closer{
  position: fixed;
  top: 0; right: 0;
  font-size:22px;
  z-index: 999999999;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.shadow-closer:after{
  content: '\f136';
}
@media all and (max-width: 992px){
  #shadow{
    z-index: 99;
    pointer-events: none;
  }
  #shadow.darkened{
    background: rgba(0,0,0,1);
  }
  .shadow-closer{
    left: 0;
    width: 100%;
    padding-left: 15px;
    text-align: left;
    z-index: 9999;
  }
  .shadow-closer:after{
    content: '\f2ea';
  }
}
.more-btn{
  position: fixed;
  top: 1px; right: 0;
  font-size:22px;
  z-index: 999999999;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  display: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.more-btn:after{
  content: '\f19b';
}
@media all and (max-width: 992px){
  #shadow.darkened ~ .more-btn{
    display: block;
  }
}
#shadow.show{
  opacity: 1;
  pointer-events: auto;
}
#shadow.show-as-ripple ~ .shadow-closer{
  display: block;
}
#shadow.show-as-ripple{
  transition: none;
  opacity: 1;
  pointer-events: auto;
  height: 200px;width: 200px;
  
  -webkit-animation-name: circleReveal;
  animation-name: circleReveal;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes circleReveal {
  from {
    border-radius: 50%;
    transform : scale(0);
  }
  to {
    border-radius: 50%;
    transform : scale(90);
  }
}
a{
  text-decoration: none;
  color: #4CAF50;
}
a:hover{
  color: #7E57E2;
}
hr.divider{
  border: none;
  border-bottom: 1px solid #e2e2e2;
}
.shadow-2dp{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow-4dp{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.layout-flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.layout-flex.as-column{
  flex-direction: column;
}
.layout-flex.center-center{
  align-items: center;
  justify-content: center;
}
.layout-flex.end-end{
  align-items: flex-end;
  justify-content: flex-end;
}
.layout-flex.v-end{
  align-items: flex-end;
}
.layout-flex.wrap{
  flex-wrap: wrap;
}
.flex{
  flex:1;
}
/******************************
  END BROWSER OVERRIDE & GLOBAL STYLES
******************************/

/******************************
      MAIN LAYOUT STYLES
******************************/
header{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #4CAF50;
  color: #fff;
  z-index: 9;
  display: flex;
  font-family: verdana;
  padding: 0 25px;
}
@media all and (max-width: 992px) {
  header{
    padding: 0;
  }
}
header > .logo{
  color: #fff;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex:1;
}
header > .logo a{
  color: #fff !important;
}
header > .header-btn{
  display: none;
  line-height: 45px;
}
nav{
  position: fixed;
  top: 0;left: 0;
  padding: 15px 0;
  height: 40px;
  line-height: 40px;
  top:80px;
  width: 100%;
  background: #f8f8f8;
  z-index: 9;
  display: flex;
}
nav > ul{
  margin:auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap:wrap;
}
nav > ul li{
  padding:0 5px;
  border-left: 1px solid rgba(0,0,0,0.1);
}
nav > ul li:first-child{
  border-left: none;
}
nav > ul a{
  color: rgba(0,0,0,0.5);
  padding: 12px 60px;
  text-align: center;
}
nav > ul li a:hover{
  color: rgba(0,0,0,0.5) !important;
  background: #e8e8e8 !important;
}
nav > ul li.active a, nav > ul li.active a:hover{
  color: #4CAF50 !important;
}
nav > ul li a .zmdi{
    /*font-size: 25px;*/
    margin-right: 15px;
  }
nav > .cover-photo{
  display: none;
  background: url(../images/bcs.png); background-size: cover;
}
@media all and (max-width: 990px) {
  header{
    height: 60px;
    line-height: 60px;
  }
  header > .logo{
    font-size: 20px;
  }
  header > .header-btn{
    display: block;
  }
  header > .header-btn i{
    font-size: 22px;
    color:white !important;
  }
  nav{
    padding: 0;
    top:0;
    width: 250px;
    height: calc(100% + 5px);
    display: block;
    z-index: 99;

    -webkit-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;

    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  nav.open{
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  nav > .cover-photo{
    display: block;
  }
  nav > ul{
    position: relative;
    top:3px;
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 5px;
  }
  nav > ul li{
    padding: 3px 5px;
    margin: 1px 0;
  }
  nav > ul li a{
    text-align: left;
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0;
    padding-left: 50px;
    /*border-bottom: 1px dotted red;*/
    font-size: 12px;
  }
  nav > ul li.active a{
    background: rgba(0,0,0,0.05);
  }
  nav > ul li a .zmdi{
    font-size: 17px;
    margin-right: 10px;
    position: absolute;
    left: 10px;top: 15px;
  }
  #main{
    padding-top: 60px !important;
  }
  #content h1{
    margin-bottom: 0;
  }
}
#home-right-nav{
  flex:0.6; margin-left:60px;
  padding-left:30px;
  margin-top: -10px;
  border-left: 1px solid #ccc
}
#main{
  position: relative;
  top:0;left: 0;
  padding-top: 150px;
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
}
aside{
  height: 100%;
  width: 350px;
  margin-left: 50px;

  -webkit-transition: 2s transform 0.26s ease-out;
  -o-transition: 2s transform 0.26s ease-out;
  transition: 2s transform 0.26s ease-out;
}
@media all and (max-width: 992px) {
  aside{
      display: none;

      -webkit-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
      -o-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}
aside > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
aside > ul li{
  padding: 0 10px;
  margin-bottom: 5px; 
}
aside > ul li a{
  position: relative;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 8px;
  color: rgba(0,0,0,0.5);
}
aside > ul li a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
aside > ul li.active a, aside > ul li.active a:hover{
  color: #4CAF50; /*retain active color on hover*/
}
aside > ul li a:hover{
  color: rgba(0,0,0,0.5); /*override default hover color for a tags*/
}
aside > ul li a:hover::after, aside > ul li.active a::after{
  width: 100%;
  opacity: 1;
  border-radius: 0;
  background: rgba(0,0,0,0.05);
}
#content{
  min-height: calc(100vh - 180px);
  /*width: 100%;*/
  margin:auto;
  flex:1;
}
@media all and (max-width: 992px) {
  #content{
    min-height: calc(100vh - 110px);
  }
}
section{
  position: relative;
  left: 7.5%;
  width: 85%;
  min-height: 200px;
  margin-bottom: 20px;
}
section.full{
  position: relative;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px 50px;
  left: 0; width: calc(100% - 100px);
}
section h1{
  font-size: 35px
}
section > p{
  padding: 0 60px; font-size: 23px
}
@media all and (max-width: 992px) {
  section, section.full{
    left: 0;
    width: 100%;
    padding: 0;
  }
  section h1{
    font-size: 25px !important
  }
  section > p{
    padding: 0 10px !important; font-size: 18px !important;
  }
}
/*******************
  END MAIN LAYOUT STYLES
********************/

/*******************
    COMPONENTS
********************/
.placeholder-bg{
  background: var(--placeholder-bg);
  text-align: center;
}
.placeholder-bg:after{
  /*content: "200 x 200";*/
  color: rgba(0,0,0,0.2);
}

.hero{
  position: relative;
  height: 350px;
  width: 100%;
  line-height: 290px;
  font-size: 100px;
}
@media all and (max-width: 992px) {
  .hero{
    left: 0;
    width: 100%;
    height: 250px;
  }
}
/*BUTTON*/
.btn{
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  padding: 3px 15px;
  margin: 0 5px;
  border: none;
  min-width: 120px;
  text-align: center;
  font-size: 18px;
  font-family: verdana;
  background: #4CAF50;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.26);
}
.btn:active, .btn:focus, .btn:hover{
  outline-width: 0;
  color: white;
}
.btn:hover{
  background: #66BB6A;
}
.btn-flat{
  box-shadow: none;
  background: transparent;
  min-width: 10px;
  margin: 0 1px;
  color: rgba(0,0,0,0.5);
}
.btn-flat:hover{
  background: transparent;
  color: #aaa;
}
.btn-fab{
  padding: 0;
  min-width: 50px;
  height: 60px;
  /*line-height: 60px;*/
  width: 60px;
  border-radius: 50%;
  background: orange;
  z-index: 9;
  position: fixed;
  bottom: 10px;right: 10px;
}
.btn-fab:active, .btn-fab:focus{
  background: orange;
}
.btn-fab > i{
  display: block;
  font-size: 40px;
  position: relative;
  top:10px;left: 3px;
}
footer{
  margin-top: 75px;
  background: #f8f8f8;
  /*min-height: 200px;*/
  width: 100%;
  position: relative;
  top: 0;
}
@media all and (max-width: 992px){
  footer{
    margin-top: 55px;
  }
}
footer > .copyright{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #fff;
  background: #66BB6A;
}

/*LISTS*/
.list-group{
  padding: 15px;
  padding-top: 5px;
}
.list-group > .title{
  font-size: 24px; margin: 0;
  /*margin-top: 15px;*/
}
.list-group > .list{
  margin: 0 15px;
  margin-top: 30px;
}
.list .title{
  font-size: 20px; font-weight: 300; margin-bottom: 0;
}
.list-item{
  margin: 15px 0;
}
.list-item.has-avatar{
  position: relative;
  padding-left: 70px;
  min-height: 60px;
}
.list-item.has-avatar-small{
  position: relative;
  padding-left: 50px;
  min-height: 30px;
}
.list-item > .avatar{
  position: absolute;
  left:0;top: 0;
}
.list-item > h3{
  font-size: 18px;
  margin: 0;
  margin-bottom: 3px;
}
.list-item > h3 a{
  color: rgba(0,0,0,0.5);
}
.list-item > p{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.avatar{
  height: 60px;width: 60px;
  background: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}
.avatar.small{
  height: 40px;
  width: 40px;
}
.avatar.small > span.zmdi{
  font-size: 21px !important;
}
.avatar > span{
  font-size: 20px;
  color: #888;
}
.avatar > span.zmdi{
  font-size: 30px !important;
}
.avatar > span:last-child{
  margin-top: 2px;
  font-size: 16px;
  color: #999;
}
/*LIST*/

/*CARDS*/
/*any card with the data-caption attribute should have a cursor of pointer*/
.card[data-caption]{
  cursor: pointer;
}
.card{
  background: white;
  box-shadow: 0 0 1px #777;
  width: 100%;
  overflow: hidden;
}
.card > img{
  background: #aaa;
  width: inherit;
  height: 150px;
  overflow: hidden;
}
@media all and (max-width: 992px){
  .card > img{
    height: 250px;
  }
}
.card > .card-content{
  margin-top: -5px;
  padding:15px 10px;
}
.card > .card-content .caption{
  position: relative;
  max-height: 140px;
  width: 50%;
  overflow: hidden;
}
.card > .card-content .caption h3, .card > .card-content .caption p{
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-height: 20px;
  margin-top: 3px;
}
.card > .card-content .caption h3{
  color: #4CAF50;
}
.card > .card-content .caption ~ .layout-flex{
  width: 40px;
}
.card .caption p span{
  display: none;
}
.card.preview{
  position: fixed;
  width: 600px; height: 530px;
  z-index: 999;
  top: calc(50% - 260px);left: calc(50vw - 300px);
}
.card.preview img{
  height: 350px;
}
.card.preview > .card-content .caption{
  max-height: 160px;
  padding: 0 10px;
}
.card.preview .caption p span{
  display: inline;
}
.card.preview > .card-content .caption h3{
  font-size: 22px;
  margin-bottom: 18px;
}
.card.preview > .card-content .caption h3, .card.preview > .card-content .caption p{
  max-height: 150px;
  margin-top: 3px;
  text-align: justify;
}
.card.preview > .card-content .caption ~ .layout-flex{
  display: none;
}

@media all and (max-width: 992px){
  .card.preview{
    position: fixed;
    width: 100%; height: 100vh;
    z-index: 999;
    top: 0;left: 0;
    overflow-y:auto;
    background: #f7f7f7;
  }
  .card.preview img{
    height: 50%;
    min-height: 350px;
  }
  .card.preview > .card-content .caption{
    padding: 20px;
    max-height: 1000px;
    margin: 0 5px;
    background: #fff;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 2px 0 rgba(0, 0, 0, 0.12),
              0 1px 1px -2px rgba(0, 0, 0, 0.2);
  }
  .card.preview > .card-content .caption h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  .card.preview > .card-content .caption h3, .card.preview > .card-content .caption p{
    max-height: 1000px;
    text-align: none;
  }
}
/*END CARDS

/*GRID SYSTEM*/
.row{
  margin-top: 10px;
  width: 100%;
}
.col{
  display: inline-block;
  margin-left: 1px;
  padding: 3px;
  overflow: hidden;
}
@media all and (max-width: 992px){
  .col{
    padding: 15px;
    display: block;
    width: calc(100% - 30px) !important;
  }
}
.col.col-1{
  width: calc(8.333% - 10px);
}
.col.col-2{
  width: calc(16.667% - 10px);
}
.col.col-3{
  width: calc(25% - 10px);
}
.col.col-4{
  width: calc(33.333% - 10px);
}
.col.col-6{
  width: calc(50% - 10px);
}
.col.col-7{
  width: calc(58.333% - 10px);
}
.col.col-8{
  width: calc(66.667% - 10px);
}
.col.col-9{
  width: calc(75% - 10px);
}
.col.col-10{
  width: calc(83.333% - 10px);
}
.col.col-11{
  width: calc(91.667% - 10px);
}
.col.col-12{
  width: calc(100% - 10px);
}
/*END GRID SYSTEM*/

/*SOCIAL ICONS*/
.social-icons{
  margin-top: 15px;
}
.social-icons > .avatar{
  position: relative;
  margin-left: 10px;
}
.social-icons > .avatar:before{
  content: "";
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
  transform: rotateX(90deg) perspective(1000px);
  transition: transform 0.15s linear;
}
.social-icons > .avatar:hover:before{
  transform: none;
}
.social-icons > .fb:before{
  background: #3f51b5;
}
.social-icons > .twitter:before{
  background: #00bcd4;
}
.social-icons > .insta:before{
  background: #2196f3;
}
.social-icons > .gplus:before{
  background: #b71c1c;
}
.social-icons > .avatar:first-child{
  margin-left: 0;
}
.social-icons > .avatar span{
  z-index: 9;
}
.social-icons > .avatar:hover span{
  z-index: 9;
  color: #fff;
}
/*END SOCIAL ICONS*/
#home-banner{
  background: url(../images/bcs.png); 
  background-size: cover;
  background-position: top center;
  widt:95%;lef:3.5%;margin-top: -10px; min-height: 350px;padding: 15px 0; margin-bottom: 50px;"
}
/*GALLERY*/
#gallery > img{
  width: 33%;
  height: 200px;
  margin-right: 0.333%;
  margin-bottom: 5px;
  cursor: pointer;
  transition: transform 0.25s ease-out;
  background: rgba(0,0,0,0.07);
}
#gallery img:hover{
  transform: scale(1.01);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.6);
}
.preview-image{
  position: fixed;
  top: 0; bottom: 30px;
  left: 0; right: 0;
  margin: auto;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;

  transition: all 0.2s ease-in-out;
}
.preview-image.preview{
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: calc(100% - 160px);
  pointer-events: auto;
  opacity: 1;
}
@media all and (max-width: 992px){
  .preview-image{
    /*somethin*/
  }
  .preview-image.preview{
    bottom: 0;
    width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 100%;
    height: auto;
    max-height: 100%;
  }
}
#caption{
  position: fixed;
  left: 0; bottom: 10px;
  width: 100%;
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  z-index: 999999999;
  pointer-events: none;
  opacity: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  font-family: sans-serif;
}
@media all and (max-width: 992px){
  #caption{
    position: fixed;
    left: 50px; top:0;
    width: calc(100% - 105px);
    text-align: left;
    padding-right: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
#shadow.darkened ~ #caption{
  pointer-events: auto;
  opacity: 1;
}
@media all and (max-width: 600px){
  #gallery{
    margin-top: -15px;
  }
  #gallery img{
    width: calc(50% - 4px);
    margin: 2px 2px;
    transition: none;
  }
  #gallery img:hover{
    transform: none;
    box-shadow: none;
  }
}
#slide-show-container{
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;
  /*background: red;*/
  z-index: 99999999999;
  pointer-events: none;
  opacity: 0;
}
#slide-show-container.preview{
  /*pointer-events: auto;*/
  opacity: 1;
}
#slide-show-container > img{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  max-width: 70%;
  height: auto;
  min-height: 50%;
  max-height: calc(100% - 160px);
  opacity: 0;
  transform: translateX(100%);
}
#slide-show-container > img.current{
  opacity: 1;
  transform: none;
}
#slide-show-container > .slide-left{
  -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes slideLeft {
  from {
    opacity: 1;
    transform : translateX(0);
  }
  to {
    opacity: 0;
    transform : translateX(-500px);
  }
}
#slide-show-container > .scale-in-up{
  -webkit-animation-name: scaleInUp;
  animation-name: scaleInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform: translateX(0);
}
@keyframes scaleInUp {
  from {
    opacity: 0.5;
    transform : scale(0.95);
  }
  to {
    opacity: 1;
    transform : scale(1);
  }
}
@media all and (max-width: 992px){
  #slide-show-container > img{
    top: 65px; bottom: 60px;
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: calc(100% - 120px);
  }
}
/*END GALLERY*/
/*******************
   END COMPONENTS
********************/

/*******************
  RESPONSIVE
*******************/
@media all and (max-width: 992px){
  .center-text-on-less-lg{
    text-align: center;
  }
  .show-on-lg-only{
    display: none;
  }
  .show-on-sm-only{
    display: block;
  }
  .full-width-on-sm{
    width: 100vw;
  }
}

@media all and (min-width: 992px){
  .show-on-lg-only{
    display: block;
  }
  .show-on-sm-only{
    display: none;
  }
}

/*******************
  END RESPONSIVE
*******************/